# Overrides to mariadb version 10.3
[mysqldump]
max_allowed_packet = 1G
[client]
default-character-set = utf8mb4
[mysql]
default-character-set = utf8mb4
[mysqld]
log-warnings
collation_server                        = utf8mb4_bin
character_set_server                    = utf8mb4
skip-name-resolve
back_log = 100
max_allowed_packet = 16M
innodb_file_per_table                   = 1
#innodb_file_format                      = barracuda
innodb_large_prefix                     = true
innodb_flush_method                     = O_DIRECT
innodb_flush_log_at_trx_commit          = 2
long_query_time = 10
sql-mode				= NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER
# skip-grant-tables
# as of 19.03, we'll use the following, but let's keep it safe for now.
#   sysctls:
#         fs.aio-max-nr: 500000
innodb_use_native_aio = 0
