# Overrides to mysql
[mysqldump]
max_allowed_packet = 1G
[client]
default-character-set = utf8mb4
[mysql]
default-character-set = utf8mb4
[mysqld]
log-warnings
collation_server                        = utf8mb4_bin
init-connect                            = "SET NAMES utf8mb4"
init_connect                            = "SET collation_connection = utf8mb4_bin"
character_set_server                    = utf8mb4
character_set_client                    = utf8mb4
character_set_filesystem                = utf8mb4
skip-character-set-client-handshake
skip-name-resolve
back_log = 100
max_allowed_packet = 16M
innodb_file_per_table                   = 1
innodb_file_format                      = barracuda
innodb_large_prefix                     = true
innodb_flush_method                     = O_DIRECT
innodb_flush_log_at_trx_commit          = 2
long_query_time = 10
# skip-grant-tables
